<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
{%if site.google_verification %}<meta name="google-site-verification" content="{{ site.google_verification }}">{% endif %}
{%if site.bing_verification %}<meta name="msvalidate.01" content="{{ site.bing_verification }}" />{% endif %}
{%if site.alexa_verification %}<meta content="{{ site.alexa_verification }}" name="alexaVerifyID">{% endif %}
	
   
    <title>{%if page.title %}{{ page.title }} | {{ site.name }} {% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.layout == 'post' or page.layout == 'page' %}{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html }}{% endif %}{% else %}{{site.description}}{% endif %}">
    
    <meta property="og:locale" content="{{ site.language }}">
    <meta property="og:title" content="{%if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:description" content="{% if page.layout == 'post' or page.layout == 'page' %}{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html }}{% endif %}{% else %}{{site.description}}{% endif %}">
    {% if page.layout == 'post' or page.layout == 'page' %}
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{site.url}}/img/{{ page.image }}" >
    <meta property="og:image:alt" content="{{page.title}}" >
    <meta property="article:publisher" content="{{ site.facebook }}" >
    <meta property="article:author" content="{{ site.facebook }}" >
    <meta property="article:published_time" content="{{ page.date }}" >
    {% else %}
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{site.url}}/img/{{site.image}}">
    <meta property="og:image:alt" content="{{site.name}}">
    {% endif %}
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
    <meta name="twitter:description" content="{% if page.layout == 'post' or page.layout == 'page' %}{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html }}{% endif %}{% else %}{{site.description}}{% endif %}">
    <meta name="twitter:site" content="@{{site.twitter-name}}">
    <meta name="twitter:creator" content="{{site.twitter-name}}">
    <meta name="twitter:card" content="summary">
   
     <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "{% if page.layout == 'post' %}Article{% else %}WebSite{% endif %}",
    "headline": "{%if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}",
    "name": "{%if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "id": "{{ site.url }}{{ page.url }}"
    },
    "image": {
        "@type": "ImageObject",
       "url": " {%if page.image %}{{ site.url }}/thumbnails/{{ page.image }}{% else %}{{ site.url }}{{ site.logo }}{% endif %}",
		"width": 350,
        "height": 350
    },
    "author": {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{site.name}}",
        "url": "{{site.url}}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{site.url}}/apple-touch-icon.png",
            "width": 350,
            "height": 350
        },
        "sameAs": [
   "{{site.twitter}}",
   "{{site.facebook}}"
        ]
    },
    "description": "{% if page.layout == 'post' or page.layout == 'page' %}{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html }}{% endif %}{% else %}{{site.description}}{% endif %} "
}
    </script>
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{site.url}}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{site.url}}/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
