<div class="col-xs-12 col-sm-5 col-md-3 mt-4">
    <div class="card-home">
        <a href="{{ post.url }}">
            <img title="{{ post.title | capitalize }}" alt="{{ post.title | capitalize }}" height="350" width="350" src="/img/product/{{ post.image }}"></a>
        <div class="card-home-body mt-4">
            <h3 class="card-home-title"><a href="{{ post.url }}">{{ post.title | capitalize }}</a><span class="card-price">${{ post.price}}</span></h3>
            <p class="card-text mt-2">{% if post.description %}{{ post.description | truncate: 60 }} {% else %} {{ post.excerpt | strip_html | strip_newlines | truncate: 60 }}{% endif %}</p>
        </div>
    </div>
</div>