---
layout: default
---

<div class="container">

    <div class="row">
        {% include post-header.html %}
        <!-- Post Content Column -->
        <div class="col-lg-8">

            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    {{ content | replace:'http:','https:'}}

                </div>
            </div>

            {% include share.html %}
			{% include recent.html %}
			{% include disqus.html %}

        </div>
        <div class="col-md-4 no-print">
            {% include sidebar.html %}
        </div>
    </div>

</div>

