@media print {
    .grid .four-fifths {
        width: 100% !important;
        max-width: none;
        border: none !important
    }
    
    body,
    html {
        color: #000;
        font-family: Calibri, Roboto, Arial;
        font-size: 13px
    }
    .card-body{padding:0}
    blockquote,
    code,
    img,
    pre,
    tr {
        page-break-inside: avoid
    }
    body,
    html {
        background-color: #fff
    }
    a,
    a:visited {
        text-decoration: underline;
        text-transform: none
    }
    .jumbotron,header{margin-top:0}
    .card-body h2 {
        font-size: 18px;
        margin-bottom: 5px
    }
    .post-title a,
    .post-title a:visited,
    pre {
        border: 0;
        background: 0 0
    }
    .button {
        text-decoration: none
    }
    a:after {
        content: " (" attr(href) ")"
    }
    a[href^="/"]:after {
        content: " (https://artipedia.id" attr(href) ")" !important
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    thead {
        display: table-header-group
    }
    img {
        width: 100%
    }
    @page {
        margin: 1cm
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
    .button:after,
    .jsfiddle-demo,
    .no-print,
    .tooltip,
    a[href$=".PNG"]:after,
    a[href$=".GIF"]:after,
    a[href$=".BMP"]:after,
    a[href$=".jpg"]:after,
    a[href$=".jpeg"]:after,
    a[href$=".png"]:after,
    a[href$=".gif"]:after,
    a[href$=".bmp"]:after,
    a[href$=".JPG"]:after,
    a[href$=".JPEG"]:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after,
    blockquote:after,
    blockquote:before,
    .adsbygoogle {
        display: none !important
    }
    blockquote,
    code,
    pre {
        background: 0 0;
        box-shadow: none;
        color: inherit
    }
    figure {
        text-align: center
    }
    .label {
        font-weight: 400;
        text-shadow: none !important
    }
    .card,.shadow {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        border:none
    }
}
